@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
    .carousel {
        .tns-item {
            img {
                width: 600px;
            }
        }
        .prev {
            left: -40px;
        }
        .next {
            right: -40px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
            flex-wrap: none;
        }
        &-item {
            margin: 0 15px 20px 20px;
        }
    }
    .footer {
        &__info {
            width: 440px;
            height: 230px;
            transform: none;
            left: auto;
            right: 0;
            padding: 30px 48px 20px 48px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 680px;
    }
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 23px;
        }
    }
    .button {
        &_main {
            width: 280px;
        }
    }
    .advantages {
        &__item {
            max-width: 203px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .title {
        &_left {
            font-size: 30px;
        }
    } 
    .carousel {
        .tns-item {
            img {
                width: 520px;
                height: 380px;
            }
        }
        .prev {
            left: -22px;
        }
        .next {
            right: -22px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
            flex-wrap: none;
        }
        &-item {
            margin: 0 15px 20px 20px;
        }
    }
    .reviews {
        &__text {
            padding-right: 30px;
            margin-left: 80px;
        }
        &__descr {
            font-size: 15px;
        }
        &__item {
            margin-top: 80px;
        }
        &__img {
            margin-left: 20px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 200px;
            padding: 30px 48px 20px 48px;
        }
        &__address {
            font-size: 18px;
            margin-bottom: 26px;
        }
        &__phone {
            margin-bottom: 28px;
        }
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .promo {
        .header {
            &__logo {
                width: 33%;
            }
            &__official {
                width: 33%;
            }
            &__contacts {
                width: 33%;
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            font-size: 19px;
            line-height: 19px;
        }
        .button {
            &_main {
                width: 260px;
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            max-width: 250px;
           &:nth-child(2) {
            margin-top: 20px;
           }
           &:nth-child(3) {
            margin-top: 20px;
           }
        }
        &__subtitle {
            font-size: 18px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 13px;
        }
    }
    .title {
        margin: 0;
        line-height: 25px;
        &_left {
            font-size: 23px;
            line-height: 30px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 80px 0;
        &__descr {
            font-size: 19px;
            line-height: 23px;
        }
    }
    .carousel {
        padding-bottom: 140px;
        padding-top: 60px;
        .tns-item {
            img {
                width: 450px;
                height: 350px;
            }
        }
        .prev {
            top: calc(100% + 50px);
            left: 70px;
        }
        .next {
            top: calc(100% + 50px);
            right: 70px;
        }
    }
    .catalog {
        &__tab {
            font-size: 15px;
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        &__text {
            padding-right: 0;
            margin-left: 0;
            margin-top: 20px;
            text-align: center;
            width: 400px;
        }
        &__descr {
            font-size: 13px;
        }
        &__img {
            margin-left: 0;
        }
    }
    .footer {
        &__info {
            width: 230px;
            height: 190px;
            padding: 15px 15px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
        &__address {
            font-size: 15px;
            margin-bottom: 26px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 28px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 290px;
    }
    .promo {
        min-height: 400px;
        .header {
            &__logo {
                width: 140px;
            }
            &__official {
                display: none;
            }
            &__contacts {
                width: 130px;
            }
            &__phone {
                font-size: 12px;
                margin: 0 auto;
            }
            .button {
                width: 100%;
                font-size: 11px;
            }
        }
        &__header {
            font-size: 23px;
            line-height: 23px;
            margin: 0;
        }
        &__subheader {
            text-align: center;
            margin-bottom: 0;
        }
        &__icons {
            width: 290px;
        }
        .button {
            &_main {
                width: 200px;
                font-size: 13px;
            }
        }
        &__link {
            font-size: 13px;
        }
    }
    .title {
        font-size: 23px;
        &_left {
            text-align: center;
            font-size: 19px;
            line-height: 25px;
        }
    }
    .consultation {
        min-height: 450px;
        padding: 60px 0;
        &__descr {
            font-size: 15px;
            line-height: 23px;
            text-align: center;
            margin-top: 20px;
        }
    }
    .feed-form {
        width: 280px;
        margin-left: 4px;
        input {
            height: 40px;
            font-size: 12px;
        }
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 14px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 290px;
                height: 290px;
            }
        }
    }
    .catalog {
        padding-bottom: 75px;
        &__tabs {
            flex-direction: column;
            margin-top: 45px;
        }
        &__tab {
            width: 190px;
            &:nth-child(2) {
                margin-top: 15px;
            }
            &:nth-child(3) {
                margin-top: 15px;
            }
        }
    }
    .reviews {
        &__item {
            margin-top: 50px;
        }
        &__text {
            width: 300px;
        }
        &__descr {
            font-size: 12px;
            padding: 5px;
        }
    }
    .footer {
        &__info {
            width: 100%;
            height: 180px;
            padding: 10px 10px;
            left: 0;
            top: 80px;
        }
    }
}